.container {
    background: url('/assets/images/resultDesktop.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.result {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30%;
}

.result>img {
    width: 790px;
}

.Acoordeon {
    margin-left: 7%;
    margin-top: 70px;
    height: 300px;
}

.Acoordeon>h2 {
    margin-bottom: 20px;
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

button {
    border: 1px solid white;
    background-color: white;
    padding: 15px;
    border-radius: 6px;


}

.mid {
    padding: 5px;
    width: 75vh;
}

.after {

    margin: 5px;
}

.mid-shampoo {
    margin: 5px;

}

.Treatment {
    margin: 5px;
}

.Leave {
    margin: 5px;
}

.Mask {
    margin: 5px;
}

.Cream {
    margin: 5px;
}

.JELLY {
    margin: 5px;
}

.MILK {
    margin: 5px;
    border: 1px solid white;
}

.Tonic {
    margin: 5px;
}

.texto>p {
    padding: 10px;
    margin-top: 10px;
    margin-left: 05px;
    color: rgb(8, 8, 8);
    width: 85%;
    font-family: 'Barlow', sans-serif;
    font-size: 0.9em;
}

span {
    font-weight: bold;
}

strong {
    font-size: 1.1em;
}

@media (max-width: 480px) {
    .container {
        height: 100vh;
        width: 100vw;
        background: url('/assets/images/fundo-resultado-mobile.jpg');
        background-size: cover;
        height: 1100px;
        width: 100%;
        display: flex;
    }

    .result {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .result>img {
        width: 400px;

    }

    .Acoordeon {
        height: 300px;


        margin-top: 20px;

    }

    button {
        border: 1px solid white;
        background-color: white;
        padding: 15px;
        border-radius: 6px;
        width: 55vh;
        font-family: 'Barlow', sans-serif;
    }

    .mid {
        font-family: 'Barlow', sans-serif;
        padding: 5px;
        width: 55vh;
    }

    .after {

        margin: 5px;
    }

    .mid-shampoo {
        margin: 5px;

    }

    .Treatment {
        margin: 5px;
    }

    .Leave {
        margin: 5px;
    }

    .Mask {
        margin: 5px;
    }

    .Cream {
        margin: 5px;
    }

    .JELLY {
        margin: 5px;
    }

    .MILK {
        margin: 5px;
        border: 1px solid white;
    }

    .Tonic {
        margin: 5px;
    }

    .texto>p {
        padding: 10px;
        margin-top: 10px;
        margin-left: 05px;
        color: rgb(8, 8, 8);
        width: 85%;
        font-family: 'Barlow', sans-serif;
        
    }

    span {
        font-weight: bold;
    }

    strong {
        font-size: 1.1em;
    }

}