.container {
    background: url('/assets/images/desktop.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.block-one {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.block-one>img {
    margin: auto;
    display: block;
    margin-top: 40px;
    width: 180px;
}


.block-two {
    margin-top: 50px;
}

.block-two {
    height: 550px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo>h2 {
    font-family: 'Barlow', sans-serif;

}

.icones {
    margin-top: 100px;
}

.icones>img {
    width: 160px;
    margin-top: 20px;
    margin: 50px;
    filter: grayscale(100%);
}

.block-two img.active {
    filter: none;
}

.block-two>Button {
    margin-top: 90px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}

.block-tres {
    display: flex;
    justify-content: space-between;
}

.container>img {
    width: 140px;
    display: flex;
    float: right;
    margin-right: 20px;
}

@media (max-width: 768px) {

    .container {
        background: url('/assets/images/fundo-resultado-mobile.jpg');
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .block-one>img {
        display: block;
        margin: auto;
    }

    .block-one {
      
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .block-two {
        margin-top: 100px;
    }

    .block-two {
        height: 700px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo>h2 {
        font-family: 'Barlow', sans-serif;
        margin-bottom: 40px;
    }

    .icones {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .icones>img {
        width: 120px;
        margin-top: 20px;
        filter: grayscale(100%);
    }

    .block-two img.active {
        filter: none;
    }

    .block-two>Button {
        margin-top: 40px;
        padding: 10px;
        width: 200px;

    }

    .block-tres {
        display: flex;
        justify-content: space-between;
    }

    .Image-one {
        width: 240px;
    }

    .Image-two {
        width: 150px;
        margin-right: 20px;
    }
}


@media (max-width: 480px) {

    .container {
        height: 100vh;
        width: 100vw;
        background: url('/assets/images/fundo-resultado-mobile.jpg');
    }

    .block-one {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .block-one>img {
        width: 100px;
    }

    .block-two {
        margin-top: 30px;
    }

    .block-two {
        height: 700px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo>h2 {
        font-family: 'Barlow', sans-serif;
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .icones {

        display: flex;
        flex-direction: column;
    }

    .icones>img {
        width: 90px;
        margin-bottom: 20px;
        filter: grayscale(100%);
    }

    .block-two img.active {
        filter: none;
    }

    .block-two>Button {
        margin-top: 0px;
        padding: 10px;
        width: 200px;
    }

}

/*#a6a8ab*/