.container {
    background: url('/assets/images/desktop.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
img{
    width: 160px;

}
#image{
    width: 190px;
}
.thank > img{
    width: 25vw;
}

.thank {
    margin-right: 14%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45vh;
    
}
button{
    width: 150px;
    margin-top: 20px;
    height: 40px;
    font-family: 'Barlow', sans-serif;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    border-radius: 10px;
}
@media (max-width: 480px) {
    .container {
        background: url('/assets/images/fundo-resultado-mobile.jpg');
        background-size: cover;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }
    .thank {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 45vh;
        
    }
    #image{
        width: 140px;
    }
    img{
        width: 130px;

    }
    .thank > img{
        width: 100vw;
    }
    button{
        width: 150px;
        margin-top: 20px;
        height: 40px;
        font-family: 'Barlow', sans-serif;
        background-color: black;
        color: rgb(255, 255, 255);
        font-size: 1.3em;
        border-radius: 10px;
    }

}