<div class="container">
    <div class="bloco-dois">
        <img src="/assets/Logo/logo-symrise.png">
        <div class="titulo">
            <img src="/assets/Logo/logo-brown.png" />
            <h3>Analyze your hair in 2 minutes</h3>
        </div>
       
        <div class="text">
            
            <p class="paragrafo">
                As consumers feel increasingly eager for results and
                personalization, Innovation becomes every brand’s pursuit.
            </p>
            <p class="paragrafo">
                Symrise, through its team of hair experts and research on new
                ingredients & protocols, built an strong knowledge repertoire to
                support consumer needs.
            </p>
            <p class="paragrafo">
                Make the diagnosis and personalize the best treatment combo for your
                hair!
            </p>
            <ol class="paragrafo">
                <li>Tell us about your hair type</li>
                <li>Tell us about your scalp</li>
                <li>Make a choice on the benefits you want</li>
                <li>Get inspired by our recommended Hair Kit</li>
            </ol>

        </div>

    </div>

    <div class="bloco-tres">
        <img src="/assets/Logo/assinatura.png">
        <button (click)="NextPage()">Start</button>
    </div>
</div>