.container {
    background: url('/assets/images/desktop.jpg');
    background-size: cover;
    height: 120vh;
    width: 100vw;

}

.bloco-dois {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bloco-dois>img {
    margin-left: 80%;
    padding-top: 40px;
    width: 160px;
    margin: auto;
    display: block;
}

.titulo {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 10px;
}

.titulo>h3 {
    margin-left: 20px;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5em;
    width: 60%;
    text-align: center;
}

.titulo>img {
    margin: auto;
    display: block;
    width: 160px;
    
}

.text {
    
    margin: auto;
    display: block;
    width: 40vw;
    padding-left: 10%;
    
}

.text>p {
    margin-top: 10px;
    width: 90%;
    font-size: 0.9em;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

ol {
    margin-top: 20px;
    margin-left: 15px;
    font-weight: bold;
}

li {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

.bloco-tres {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloco-tres>img {
    width: 170px;
    margin: auto;
    display: block;
}

.bloco-tres>button {
    width: 150px;
    margin-top: 30px;
    height: 40px;
    font-family: 'Barlow', sans-serif;
    background-color: black;
    color: white;
    font-size: 1.3em;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    .container {
        background: url('/assets/images/fundo-resultado-mobile.jpg');
        background-size: cover;
        height: 120vh;
        width: 100vw;

    }

    .bloco-dois {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bloco-dois>img {
        display: block;
        margin:auto;
        padding-top: 20px;
        width: 100px;
    }

    .titulo {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 0;
    }

    .titulo>h3 {
        font-family: 'Barlow', sans-serif;
        font-size: 1.5em;
        width: 60%;
        text-align: center;
        margin-right: 25px;
    }

    .titulo>img {
        width: 100px;
    }

    .text {
        padding: 0px;
        margin: auto;
        display: block;
        width: 60vw;
    }

    .text>p {
        margin-top: 10px;
        width: 60vw;
        font-size: 0.9em;
        font-family: 'Barlow', sans-serif;
        font-weight: bold;
    }

    ol {
        margin-top: 20px;
        margin-left: 15px;
        font-weight: bold;
        width: 60vw;
    }

    li {
        font-family: 'Barlow', sans-serif;
        font-weight: bold;
        width: 60vw;
    }

    .bloco-tres {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bloco-tres>img {
        display: block;
        margin:auto;
        width: 170px;
    }

    .bloco-tres>button {
        width: 150px;
        margin-top: 30px;
        height: 40px;
        font-family: 'Barlow', sans-serif;
        background-color: black;
        color: white;
        font-size: 1.3em;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}