.container {
    background: url('/assets/images/desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.block-one {

    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

span {
    font-family: 'Barlow', sans-serif;
}

.Logo-one {
    width: 200px;
}

.Logo-two {
    margin-left: 50px;
    width: 200px;
}

.block-two {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin-top: 2%;
    height: 400px;

    margin-left: 1%;
    flex-wrap: wrap;
}

.icones {

    width: 24%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

.icones>img {
    width: 120px;
    filter: grayscale(100%);
}

.block-two img.active {
    filter: none;
}

.titulo {
    margin-top: 50px;
    text-align: center;
}

.titulo>h2 {
    font-family: 'Barlow', sans-serif;
}

.next {
    margin-top: 70px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

@media (max-width: 1920px) {
    .container {
        background: url('/assets/images/desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .block-one {

        height: 20vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    span {
        font-family: 'Barlow', sans-serif;
    }

    .Logo-one {
        width: 200px;
    }

    .Logo-two {
        margin-left: 50px;
        width: 200px;
    }

    .block-two {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 45%;
        margin-top: 2%;
        height: 400px;

        margin-left: 1%;
        flex-wrap: wrap;
    }

    .icones {

        width: 24%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
    }

    .icones>img {
        width: 120px;
        filter: grayscale(100%);
    }

    .block-two img.active {
        filter: none;
    }

    .titulo {
        margin-top: 50px;
        display: flex; flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .titulo>h2 {
        font-family: 'Barlow', sans-serif;
    }

    .next {
        border: 1px solid black;
        width: 150px;
        margin-top: 20px;
        height: 50px;
        font-family: 'Barlow', sans-serif;
        background-color: rgba(128, 128, 128, 0.2);
        color: black;
        font-size: 1.1em;
        border-radius: 10px;
    }
}

@media (max-width: 1366px) {
    .container {
        background: url('/assets/images/desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 110vh;
        width: 100vw;
    }

    .block-one {
        margin-top: 30px;
        height: 20vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    span {
        font-family: 'Barlow', sans-serif;
    }

    .Logo-one {
        width: 200px;
    }

    .Logo-two {
        margin-left: 50px;
        width: 200px;
    }

    .block-two {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 45%;
        margin-top: 2%;
        height: 400px;

        margin-left: 1%;
        flex-wrap: wrap;
    }

    .icones {

        width: 24%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
    }

    .icones>img {
        width: 120px;
        filter: grayscale(100%);
    }

    .block-two img.active {
        filter: none;
    }

    .titulo {
        margin-top: 50px;
        text-align: center;
    }

    .titulo>h2 {
        font-family: 'Barlow', sans-serif;
    }

    .next {
        margin-top: 70px;
        padding: 10px;
        border-radius: 10px;
        width: 200px;
        text-align: center;
        font-family: 'Barlow', sans-serif;

    }
}

@media (max-width: 768px) {
    .container {
        height: 100vh;
        width: 100vw;
    }

    .block-one {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Logo-one {
        width: 200px;
    }

    .Logo-two {
        margin-left: 50px;
        width: 200px;
    }

    .block-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vh;
        height: 800px;

        flex-wrap: wrap;
    }

    .icones {

        width: 30%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .icones>img {
        width: 120px;
        filter: grayscale(100%);
    }

    .block-two img.active {
        filter: none;
    }

    .titulo {
        margin-top: 50px;
        text-align: center;
    }

    .titulo>h2 {
        font-family: 'Barlow', sans-serif;
    }

    .next {
        margin-top: 30px;
        padding: 10px;
        width: 200px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .container {
        height: 120vh;
        width: 100vw;
    }

    .block-one {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 10vh;
    }

    .Logo-one {
        width: 100px;
    }

    .Logo-two {
        margin-left: 50px;
        width: 200px;
    }

    .block-two {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 25px;
    }
    .icones {
        width:5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icones>img {
        width: 100px;
        filter: grayscale(70%);
    }

    .block-two img.active {
        filter: none;
    }

    .titulo {
        margin-top: 0px;
        text-align: center;
    }

    .titulo>h2 {
        font-family: 'Barlow', sans-serif;
    }

    .next {
        width: 150px;
        margin-top: 20px;
        height: 40px;
        font-family: 'Barlow', sans-serif;
        background-color: black;
        color: white;
        font-size: 1.3em;
        border-radius: 10px;
        margin: auto;
        display: block;
    }
}